mobile/android/bin/
mobile/android/gen/
mobile/android/build
mobile/android/app/build
.DS_Store
*.iml
*.idea
*.dex
*.class
*.ap_
mobile/android/.gradle/
mobile/android/build/
mobile/android/local.properties
